<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chaoxing.gsd.modules.mapper.ExportLiteratureRecordMapper" >

	<!-- 新增文献导出记录 -->
    <insert id="insertOne" parameterType="com.chaoxing.gsd.modules.entity.ExportLiteratureRecord">
        insert into export_literature_record(userid) values(#{userid})
    </insert>

	<!-- 查询用户最新的文献导出记录 -->
    <select id="getLastestRecord" parameterType="String" resultType="com.chaoxing.gsd.modules.entity.ExportLiteratureRecord">
        select * from export_literature_record t where t.userid=#{userid} order by t.createtime desc limit 1
    </select>

</mapper>