<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chaoxing.gsd.modules.mapper.GsdIndexMapper" >
  <resultMap id="BaseResultMap" type="com.chaoxing.gsd.modules.entity.GsdIndex" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="domainName" property="domainname" jdbcType="VARCHAR" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="wiki" property="wiki" jdbcType="VARCHAR" />
    <result column="message" property="message" jdbcType="VARCHAR" />
    <result column="updateType" property="updatetype" jdbcType="VARCHAR" />
    <result column="userId" property="userid" jdbcType="VARCHAR" />
    <result column="update" property="update" jdbcType="BIT" />
    <result column="csvurl" property="csvurl" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, domainName, tel, email, wiki, message, updateType, userId, update, csvurl
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from gsd_index
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from gsd_index
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.chaoxing.gsd.modules.entity.GsdIndex" >
    insert into gsd_index (id, name, domainName, 
      tel, email, wiki, message, 
      updateType, userId, update, 
      csvurl)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{domainname,jdbcType=VARCHAR}, 
      #{tel,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{wiki,jdbcType=VARCHAR}, #{message,jdbcType=VARCHAR}, 
      #{updatetype,jdbcType=VARCHAR}, #{userid,jdbcType=VARCHAR}, #{update,jdbcType=BIT}, 
      #{csvurl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.chaoxing.gsd.modules.entity.GsdIndex" >
    insert into gsd_index
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="domainname != null" >
        domainName,
      </if>
      <if test="tel != null" >
        tel,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="wiki != null" >
        wiki,
      </if>
      <if test="message != null" >
        message,
      </if>
      <if test="updatetype != null" >
        updateType,
      </if>
      <if test="userid != null" >
        userId,
      </if>
      <if test="update != null" >
        update,
      </if>
      <if test="csvurl != null" >
        csvurl,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="domainname != null" >
        #{domainname,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="wiki != null" >
        #{wiki,jdbcType=VARCHAR},
      </if>
      <if test="message != null" >
        #{message,jdbcType=VARCHAR},
      </if>
      <if test="updatetype != null" >
        #{updatetype,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="update != null" >
        #{update,jdbcType=BIT},
      </if>
      <if test="csvurl != null" >
        #{csvurl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.chaoxing.gsd.modules.entity.GsdIndex" >
    update gsd_index
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="domainname != null" >
        domainName = #{domainname,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="wiki != null" >
        wiki = #{wiki,jdbcType=VARCHAR},
      </if>
      <if test="message != null" >
        message = #{message,jdbcType=VARCHAR},
      </if>
      <if test="updatetype != null" >
        updateType = #{updatetype,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        userId = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="update != null" >
        update = #{update,jdbcType=BIT},
      </if>
      <if test="csvurl != null" >
        csvurl = #{csvurl,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chaoxing.gsd.modules.entity.GsdIndex" >
    update gsd_index
    set name = #{name,jdbcType=VARCHAR},
      domainName = #{domainname,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      wiki = #{wiki,jdbcType=VARCHAR},
      message = #{message,jdbcType=VARCHAR},
      updateType = #{updatetype,jdbcType=VARCHAR},
      userId = #{userid,jdbcType=VARCHAR},
      update = #{update,jdbcType=BIT},
      csvurl = #{csvurl,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="SelectUserIndex" parameterType="java.lang.String" resultType="com.chaoxing.gsd.modules.entity.GsdIndex">
    select
    *
    from gsd_index
    where userId = #{userId}
  </select>

  <select id="SelectAllIndex" resultType="com.chaoxing.gsd.modules.entity.GsdIndex">
    select * from gsd_index
  </select>

</mapper>